# Laravel specific
/vendor
/node_modules
/public/storage
/storage/*.key
/.env
/.env.*.php
/.env.backup
/homestead.yaml
/homestead.json
/.vagrant
.phpunit.result.cache

# IDE specific
/.idea
/.vscode

# System specific
.DS_Store
Thumbs.db

# NPM
npm-debug.log
yarn-error.log